@import "../../variables.scss";
html {
  scroll-behavior: smooth;
}
.productly {
  &__header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav {
    display: flex;
    align-items: center;
    @media (max-width: 935px) {
      position: fixed;
      display: block;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-color: $blue;
      /* color: #fff; */
      top: 0;
      overflow: hidden;
      opacity: 0;
      transition: opacity 0.3s;
      padding-top: 80px;
      min-height: 100vh;
    }
    &.active {
      opacity: 1;
      z-index: 5;
      .productly__nav-item {
        pointer-events: all;
        -webkit-transform: translate(0);
        transform: translate(0);
      }
      .btn-signin {
        color: #fff;
      }
    }
    .btn.close {
      display: none;
      position: absolute;
      top: 15px;
      right: -10px;
      font-size: 40px;
      width: 100px;
      color: #fff;
      font-size: 35px;
      padding-right: 15px;
      padding-left: 0;
      cursor: pointer;
      @media (max-width: 935px) {
        display: inline-block;
      }
    }
    &-item {
      text-decoration: none;
      color: $black;
      margin-left: 30px;
      @media (max-width: 935px) {
        width: 100%;
        display: block;
        color: #fff;
        text-align: center;
        padding: 20px;
        font-size: 30px;
        pointer-events: none;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
        -webkit-transition: 0.2s ease 0.1s;
        transition: 0.2s ease 0.1s;
        margin-left: 0;
      }
    }
    .btn {
      font-weight: 600;
      font-size: 1.6rem;

      &-signin {
        margin-left: 35px;
      }
      &-signup {
        margin-left: 15px;
      }
    }
  }
  .mobile-hamburger {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 30px;
    outline: none;
    cursor: pointer;
    color: #000964;
    padding-right: 0;
    cursor: pointer;
    @media (max-width: 935px) {
      display: inline-block;
    }
  }
  &__main {
    display: grid;
    grid-template-columns: 500px 1fr;
    grid-column-gap: 40px;
    align-items: center;
    padding: 40px auto 40px auto;
    @media (max-width: 1000px) {
      grid-template-columns: 1fr;
    }
    &-text {
      // h1 {
      //   font-size: 4.4rem;
      //   line-height: 54px;
      // }
      p {
        font-size: 1.8rem;
        line-height: 28px;
        @media (max-width: 600px) {
          font-size: 1.6rem;
        }
      }
      @media (max-width: 1000px) {
        text-align: center;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 50px;
      }
    }
    &-img {
      justify-self: right;
      svg {
        width: 100%;
        @media (max-width: 600px) {
          height: 300px;
          object-fit: cover;
        }
      }
      @media (max-width: 1000px) {
        order: -1;
        justify-self: center;
      }
    }
    .btn-wrapper {
      display: flex;
      .video-btn {
        color: $orange;
        display: flex;
        span {
          margin-left: 10px;
          text-decoration: underline;
        }
      }
      @media (max-width: 1000px) {
        justify-content: center;
      }
    }
  }
  &__features {
    padding-top: 40px;
    &-heading {
      text-align: center;
      // font-size: 3.6rem;
      font-weight: bold;
      max-width: 500px;
      margin: 0 auto;
    }
    &-group {
      padding: 50px 0 200px 0;
      background: linear-gradient(
        to bottom,
        rgba(255, 244, 229, 0.1),
        rgba(255, 229, 210, 0.63)
      );
      clip-path: polygon(-110% 0, 50% 80%, 180% 0);
      @media (max-width: 1209px) {
        padding-bottom: 50px;
        clip-path: unset;
      }
    }
    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      grid-gap: 30px 50px;
      align-items: center;
      .btn-wrapper {
        grid-column: 1/-1;
        display: flex;
        justify-content: center;
        margin-top: 40px;
      }
    }
  }
  &__feature {
    &-icon {
      width: 50px;
      height: 50px;
      border-radius: 19px;

      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 14px;
      position: relative;

      &.purple {
        background-color: #7752be;
        box-shadow: 0 8px 30px lighten(#7752be, 20%);
      }
      &.yellow {
        background-color: #fab005;
        box-shadow: 0 8px 30px lighten(#fab005, 20%);
      }
      &.red {
        background-color: #f03e3d;
        box-shadow: 0 8px 30px lighten(#f03e3d, 20%);
      }
      &.light-blue {
        background-color: #4dadf7;
        box-shadow: 0 8px 30px lighten(#4dadf7, 20%);
      }
      &:before {
        content: "";
        display: block;
        border: 1px solid #fff;
        width: 18px;
        height: 18px;
        top: 50%;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    h3 {
      font-weight: 600;
      font-size: 2.2rem;
      line-height: 33px;
      margin: 30px 0 19px 0;
      @media (max-width: 600px) {
        margin-bottom: 0;
      }
    }
    p {
      @media (max-width: 600px) {
        margin-top: 0;
      }
    }
  }
  &__users {
    padding-top: 50px;
    &-group {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px;
      align-items: center;
      margin-bottom: 100px;
      &.image-first .productly__users-img {
        justify-self: left;
        @media (max-width: 1000px) {
          justify-self: center;
        }
      }
      @media (max-width: 1000px) {
        grid-template-columns: 1fr;
      }
    }

    &-text {
      max-width: 600px;
      @media (max-width: 1000px) {
        max-width: 100%;
      }
      &-sub-heading {
        margin-bottom: 0px;
      }
      &-heading {
        margin-top: 0px;
      }
      h4 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
    &-img {
      justify-self: right;
      img {
        width: 100%;
      }
      @media (max-width: 1000px) {
        order: -1;
        justify-self: center;
      }
    }
  }

  &__testimonials {
    position: relative;
    background: linear-gradient(
      to bottom,
      rgba(255, 229, 210, 0.63),
      rgba(255, 244, 229, 0.1)
    );
    clip-path: ellipse(60% 50% at 50% 50%);
    @media (max-width: 957px) {
      clip-path: unset;
    }
    &-container {
      min-height: 700px;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;
      @media (max-width: 957px) {
        min-height: 400px;
      }
    }
    &-text {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-width: 600px;
      text-align: center;
      margin-top: -50px;
      h2 {
        margin-bottom: 0;
        margin-top: 0;
      }
      p {
        color: #567592;
        font-size: 1.6rem;
      }
    }
  }
  &__testimonial {
    position: absolute;
    display: inline-flex;
    align-items: flex-start;
    @media (max-width: 957px) {
      display: none;
    }
    &.one {
      left: 250px;
      bottom: 100px;
    }
    &.two {
      right: 30%;
      bottom: 10px;
    }
    &.three {
      right: 80px;
      top: 150px;
    }
    &.four {
      right: 0px;
      bottom: 100px;
    }
    &.five {
      left: 100px;
      top: 180px;
      & > .productly__testimonial-text {
        left: -25px;
        &:after {
          left: 40px;
          right: 0;
        }
      }
    }
    &-text {
      position: relative;
      background-color: #fff;
      padding: 15px 20px;
      box-shadow: 0 2px 8px rgba(86, 117, 146, 0.1);
      border-radius: 26px;
      text-align: center;
      left: -86%;
      top: -35px;
      &:after {
        content: "";
        position: absolute;
        bottom: -7px;
        right: 40px;
        background-color: #fff;
        width: 15px;
        height: 15px;
        box-shadow: 0 2px 8px rgba(86, 117, 146, 0.1);
        border-radius: 100%;
      }
      p {
        margin: 0;
      }
    }
  }
  &__blogs {
    padding: 50px auto 150px auto;
    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      grid-gap: 40px 30px;
    }
    &-heading,
    &-sub-heading {
      grid-column: 1 / -1;
      margin: 0;
    }
    &-sub-heading {
      margin-top: 20px;
      margin-bottom: 40px;
    }
  }
  &__blog {
    color: inherit;
    text-decoration: none;
    &.active h3 {
      color: $orange;
    }
    h3 {
      font-size: 2.4rem;
      line-height: 34px;
    }
    img {
      width: 100%;
    }
  }
  &__footer {
    padding: 50px 0 100px 0;
    &-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      border-top: 1px solid rgba(188, 208, 229, 0.5);
      padding-top: 100px;
      h3 {
        margin-bottom: 40px;
        font-weight: normal;
      }
      input {
        display: block;
        width: 100%;
        outline: none;
        font-size: 16px;
        padding: 10px 14px;
        margin-bottom: 20px;
        border: 1px solid #bcd0e5;
        &::placeholder {
          color: #bcd0e5;
        }
      }
    }
  }
}
